h1 {
    text-align: center;
    margin: 30px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.img-container {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 600px;
}
